
// Measure
$measure-small: 35px;
$measure: 70px;
$measure-big: 100px;

// Font
$font-family-base:     "Open Sans", Helvetica, Arial, Roboto, "Liberation Sans", sans-serif;
$font-family-alt:      "Raleway", Helvetica, Arial, Roboto, "Liberation Sans", sans-serif;

// Other
$border-radius: 0;
$primary: #3498DB;
